
@keyframes typing {
    from {
        height: 0;
    }
    to {
        height: auto;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// @keyframes slide {
//     from {
//         transform: translateX(-15%);
//     } to {
//         transform: translateX(25%);
//     }
// }