@mixin heading ($weight, $size) {
    font-weight: $weight;
    font-size: $size;
    font-family: $heading-font-stack;
    color: $heading-font-color;
    display: inline-block;
}

@mixin body {
    font-family: $body-font-stack;
    color: $body-font-color;
    font-size: 24px;
}

@mixin centerFlexContainer ($flexDirection) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $flexDirection;
}