@mixin title {
    font-family: $title-font-stack;
    font-weight: 900;
    font-size: 72px;
    color: $title-font-color;
    display: inline-block;
}

@mixin subtitle {
    font-family: $title-font-stack;
    font-weight: 700;
    font-size: 50px;
    color: $title-font-color;
    display: inline-block;
}