//typography
$heading-font-stack: 'Roboto', sans-serif;
$body-font-stack: 'mongolian-baiti', times;

//color palette
$heading-font-color: #1E1E1E;
$body-font-color: #1E1111;
$alt-heading-font-color: #F8F9Fc;
$alt-body-font-color: #FDFEFF;