//typography
$heading-font-stack: 'Roboto', sans-serif;
$body-font-stack: times;

//color palette
$heading-font-color: #1E1E1E;
//$body-font-color
//$primary-background-color
//$secondary-background-color