//typography
$title-font-stack: 'Roboto', sans-serif;
$body-font-stack: times;

//color palette
//$primary-background-color
//$secondary-background-color
$title-font-color: #1E1E1E;
//$body-font-color