.about {
    width: 50vw;
    height: 50vh;
    margin: 0 0 0 10vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    &--title {
        margin: 0;
    }
    &--image {
        height: 350px;
        width: 350px;
        animation: rotate 100s linear infinite;
        margin: 0 10vw 0 0;
        opacity: 0.3;
        &__container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50vw;
        }
    }
    &--container {
        width: 100%;
        display: flex;
    }
}

@media (max-width: 1000px) {
    .about {
        margin: 0 0 0 5vw;
        &--image {
            margin: 0 5vw 0 0;
        }
    }
}

@media (max-width: 699px) {
    .about {
        width: 100vw;
        height: 75vh;
        position: relative;
        margin: 0 10vw 0 10vw;
        &--image {
            opacity: 0.2;
            height: 400px;
            width: 400px;
            margin: 0;
            &__container {
                position: absolute;
                z-index: -1;
                transform: translate(50%, 50%);
            }
        }
    }
}

@media (max-width: 400px) {
    .about {
        &--image {
            height: 350px;
            width: 350px;
        }
    }
}