.title {
    width: 100vw;
    height: 25vh;
    // @include centerFlexContainer(row);
    display: grid;
    grid-template-columns: 45vw 10vw 45vw;
    &--text {
        margin: 0;
        // @include centerFlexContainer(row);
        // transition: all 1s linear;
        &__center {
            font-size: 100px;
            font-weight: 700;
            margin: 0vh 4vw 4vh 4vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        &__fn {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            // &::after {
            //     content: "Functional";
            //     transition: all 1s linear;
            // }
        }
        &__in {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            // &::after {
            //     content: "Innovative";
            //     transition: all 1s linear;
            // }
        }
    }
}

.subtitle {
    width: 100vw;
    height: 20vh;
    @include centerFlexContainer(column);
    &--text {
        margin: 0;
        &__main {
            font-size: 32px;
        }
        &__sub {
            font-size: 19px;
        }
    }
    &--separator {
        margin: 10px 0px 6px 0px;
    }
}

.spacer {
    width: 100vw;
    height: 27.5vh;
    &--container {
        @include centerFlexContainer(column);
    }
}

.continue:hover {
    color: gray;
}

@media (max-width: 550px) {
    .title--text {
        &__fn {
            font-size: 64px;
            // &::after {
            //     content: "Fn";
            // }
        }
        &__in {
            font-size: 64px;
            // &::after {
            //     content: "In";
            // }
        }
    }
}