.title {
    width: 100vw;
    height: 25vh;
    @include centerFlexContainer(row);
    &--text {
        margin: 0;
        transition: all 2s linear;
        &__center {
            font-size: 100px;
            font-weight: 700;
            margin: 0vh 4vw 4vh 4vw;
        }
        // &__fn {
        //     transition: all 1s linear;
        //     &::after {
        //         content: "Functional";
        //         transition: all 1s linear;
        //     }
        // }
        // &__in {
        //     transition: all 1s linear;
        //     &::after {
        //         content: "Innovative";
        //         transition: all 1s linear;

        //     }
        // }
    }
}

.subtitle {
    width: 100vw;
    height: 20vh;
    @include centerFlexContainer(column);
    &--text {
        margin: 0;
        &__main {
            font-size: 32px;
        }
        &__sub {
            font-size: 19px;
        }
    }
    &--separator {
        margin: 10px 0px 6px 0px;
    }
}

.spacer {
    width: 100vw;
    height: 27.5vh;
    &--container {
        @include centerFlexContainer(column);
    }
}

.continue:hover {
    color: gray;
}

// @media (max-width: 550px) {
//     .title--text {
//         &__fn {
//             &::after {
//                 content: "Fn";
//                 font-size: 64px;
//             }
//         }
//         &__in {
//             &::after {
//                 content: "In";
//                 font-size: 64px;
//             }
//         }
//     }
// }