.project {
    width: 50vw;
    height: 35vh;
    // background-image: url('https://images.unsplash.com/photo-1461532257246-777de18cd58b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80');
    filter: grayscale(100%);
    display: flex;
    align-items: flex-end;
    position: relative;
    margin: 25px;
    &--info {
        width: 100%;
        height: 10vh;
        overflow: hidden;
        position: absolute;
        z-index: 1;
        display: grid;
        grid-template-columns: 75% auto;
        grid-template-areas: 'info icons';
        &__banner {
            width: 100%;
            background-color: gray;
            height: 10vh;
            opacity: 75%;
        }
        &__container {
            grid-area: info;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: left;
            margin-left: 15px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &__title {
            font-size: 20px;
            margin: 0;
            color: white;
        }
        &__content {
            font-size: 14px;
            margin: 0;
            // min-width: 0px;
            color: white;
        }
        &__icons {
            grid-area: icons;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-right: 15px;
        }
        &__icon {
            color: white;
            cursor: pointer;
            transform: rotate(180deg);
        }
    }
}