.project {
    width: 60vw;
    height: 35vh;
    filter: grayscale(75%) contrast(125%);
    background-size: 100%;
    background-position: center;
    display: flex;
    align-items: flex-end;
    position: relative;
    margin: 25px;
    transition: background-size 5s, transform 1s;
    &:hover {
        filter: none;
        background-size: 110%;
        transform: scale(1.05);
    }
    &--info {
        width: 100%;
        height: 10vh;
        overflow: hidden;
        position: absolute;
        z-index: 1;
        display: grid;
        grid-template-columns: 75% auto;
        grid-template-areas: 'info icons';
        transition: height 0.5s;
        &__large {
            height: 35vh;
            transition: height 0.5s;
            overflow-y: auto;
            scrollbar-color: $alt-heading-font-color rgba(181, 182, 181, 0.1);
            scrollbar-width: thin;
            padding: 5px 0px;
        }
        &__banner {
            width: 100%;
            background-color: #B5B6B5;
            height: 10vh;
            opacity: 75%;
            transition: height 0.5s;
            &__large {
                height: 35vh;
                transition: height 0.5s;
            }
        }
        &__container {
            grid-area: info;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: left;
            margin-left: 15px;
        }
        &__title {
            font-size: 20px;
            margin: 0;
            color: $alt-heading-font-color;
        }
        &__content {
            font-size: 16px;
            margin: 0;
            color: $alt-heading-font-color;
            &__truncated {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                min-width: 0;
                max-width: 100%;
            }
            &__description {
                margin-top: 25px;
                color: $alt-body-font-color;
            }
        }
        &__icons {
            grid-area: icons;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-right: 15px;
        }
        &__icon {
            color: $alt-heading-font-color;
            &__flipped {
                transform: rotate(180deg);
            }
            &:hover {
                color: #ECEDE8;
            }
        }
    }
}

@media (max-width: 1250px) {
    .project {
        width: 75vw;
    }
    .project--info {
        &__content {
        font-size: 14px;
            &__description {
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 699px) {
    .project {
        width: 90vw;
    }
}

@media (max-width: 500px) {
    .project--info {
        grid-template-columns: 65% auto;
    }
}