.skills {
    display: grid;
    justify-content: flex-end;
    align-content: center;
    grid-template-columns: 30vw 50vw;
    grid-template-rows: 12.5vh 30vh 12.5vh;
    grid-template-areas: 
        '. title'
        'image content'
        '. icons'
        '. info';
    grid-gap: 40px 20px;
    width: 100vw;
    height: 75vh;
    margin: 0 10vw 0 0;
    &--content {
        grid-area: content;
        display: flex;
        align-items: center;
    }
    &--title {
        margin: 0;
        &__container {
            margin: 0;
            grid-area: title;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }
    }
    &--info {
        grid-area: info;
        display: flex;
        text-align: right;
        align-items: flex-start;
        padding: 0px 0px 0px 10px;
        height: 20vh;
        &__text {
            padding-right: 15px;
            margin: 0;
            font-size: 20px;
            color: #b5b6b5;
            border-right: 2px solid #b5b6b5;
            &:hover {
                color: #6A6667;
                border-right: 2px solid #6A6667;
            }
        }
    }
    &--icons {
        grid-area: icons;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    &--button {
        padding: 0;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &--icon {
        height: 100%;
        width: 100%;
        filter: grayscale(75%);
        &:hover {
            filter: none;
            transform: scale(1.25);
        }
    }
    // &--image {
    //     height: 200px;
    //     width: 2000px;
    //     opacity: 0.2;


    //     animation: slide 15s linear infinite;
    //     &__container {
    //         grid-area: image;
    //         width: 100%;
    //         overflow: hidden;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //     }
    // }
}

@media  (min-width: 700px) and (max-width: 1000px) {
    .skills--icon {
        height: 90%;
        width: 90%;
    }
}

@media  (min-width: 700px) and (max-width: 800px) {
    .skills--icon {
        height: 80%;
        width: 80%;
    }
}