.footer {
    height: 15vh;
    width: 100vw;
    margin-top: 10vh;
    background-color: #1E1E1E;
    @include centerFlexContainer(row);
    &--container {
        width: 15vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &--icon {
        color: white;
        position: relative;
        &:hover {
            & .footer--text {
                display: block;
            }
        }
    }
    &--text {
        display: none;
        margin: 0;
        padding: 0;
        font-size: 12px;
        position: absolute;
        &__container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
    }
}