.footer {
    height: 15vh;
    width: 100vw;
    margin-top: 10vh;
    padding-right: 2vw;
    padding-bottom: 1vh;
    background-color: $body-font-color;
    // @include centerFlexContainer(row);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    &--container {
        width: 125px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &--icon {
        color: $alt-heading-font-color;
        position: relative;
        &:hover {
            color: #ECEDE8;
            // & .footer--text {
            //     display: block;
            // }
        }
    }
    &--text {
        display: none;
        margin: 0;
        padding: 0;
        font-size: 12px;
        position: absolute;
        color: #ECEDE8;
        &__container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
    }
}

//center in mobile format
@media (max-width: 700px) {
    .footer {
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}