/* 



h1 {
  font-family: 'Calistoga', cursive;
  font-size: 50px;
  display: block;
  margin-bottom: 30px;
}

h2 {
  font-family: 'Calistoga', cursive;
  font-size: 35px;
  display: block;
  margin-bottom: 20px;
}

h3 {
  display: inline-block;
}

img {
  width: 125px;
  height: 125px;
  color: pink;
} */
