
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: 'Calistoga', cursive;
  font-size: 50px;
  display: block;
  margin-bottom: 30px;
}

h2 {
  font-family: 'Calistoga', cursive;
  font-size: 35px;
  display: block;
  margin-bottom: 20px;
}

h3 {
  display: inline-block;
}

img {
  width: 125px;
  height: 125px;
  color: pink;
}
